``` //output:index.html

  head
    link(rel='stylesheet', href='css/style.css')
  body
    .index
      .section(data-name="preheader")
        .bg
        .overlay
          .topLogo(data-parallax="-1")
            .logoImg
              
          .centreCopy
            h1(data-parallax="-3") Question the Answers
            
            p.lead(data-parallax="-5") Encourage change, ask questions and lift the lid on things that 
              | no-one else would dare to. This is our style at Monash University and 
              | we want you to explore it with us. 
            
            br
            .cont(data-parallax="-8")
              button.cta.btn.btn--white Watch it now
          
          
          button.scrollDown
            
      .section(data-name="header").mainHeader
        nav
          ul
            li: a(href="#") About
            li: a(href="#") Our Stories
            li: a(href="#") Courses
            li.logo: a(href="#")
              .logoImg
            li: a(href="#") Next Gen
            li: a(href="#") Choose Monash
            li: a(href="#") Contact
      .section(data-name="headerSpacer").headerSpacer
    
      .section(data-name="intro")
        .lineDown(data-parallax="-8")
        .bigM
        .image1(data-parallax="28")
        .image2(data-parallax="-24")
        .content
          h2 Progress Doesn't accept answers,
            br
            | It questions them
            
          .textSpace
            p We are big in scale, big in thinking and big in the way
              br
              | we contribute to the global community.
              
            p As a student, we’ll encourage you to challenge the 
              | status quo, beyond tradition and convention, with 
              | tailored study and a course range that ensures 
              | greater personal outcomes. We know that when you 
              | learn to question the answers, your potential 
              | is unleashed.

            
      .section(data-name="nextgen")
        .content
          h2 Next Generation Thinkers
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam nec 
            | gravida justo. Sed quis port titor  usto, ut dignissim nunc.
            | Nam nec gravida justo. Sed quis porttitor justo, ut dignissim nunc.
          .videoExpose
            .mainVid
              ul
                li.current
                  .vidCover
                  h4.title Question the Answers
                  p.description Lorem ipsum dolor sit amet, consecte ntur 
                    | adipisc ing elit. Nam nec gravida justo. Sed quis porttitor 
                    | justo, ut digniss.
                li
                  .vidCover
                  h4.title Question the Answers
                  p.description Lorem ipsum dolor sit amet, consecte ntur 
                  | adipisc ing elit. Nam nec gravida justo. Sed quis porttitor 
                  | justo, ut digniss.
            .sideScroll
              .scrollContainer
                ul
                  li.current
                    .vidCover
                    h4.title Question the Answers
                    p.description Lorem ipsum dolor sit amet, consecte ntur 
                      | adipisc ing elit. Nam nec gravida justo. Sed quis porttitor 
                      | justo, ut digniss.
                  li.current
                    .vidCover
                    h4.title Question the Answers
                    p.description Lorem ipsum dolor sit amet, consecte ntur 
                      | adipisc ing elit. Nam nec gravida justo. Sed quis porttitor 
                      | justo, ut digniss.
                  li
                    .vidCover
                    h4.title Question the Answers
                    p.description Lorem ipsum dolor sit amet, consecte ntur 
                      | adipisc ing elit. Nam nec gravida justo. Sed quis porttitor 
                      | justo, ut digniss.
                  li
                    .vidCover
                    h4.title Question the Answers
                    p.description Lorem ipsum dolor sit amet, consecte ntur 
                      | adipisc ing elit. Nam nec gravida justo. Sed quis porttitor 
                      | justo, ut digniss.
              
            
              
      .section(data-name="flexiblelearning")
        .content
          h2 Flexible Learning
          .thirds
            .col
              h4.title Specialist
                br
                | Degree
              .vline
              p.description 
                | If you know what you want to do and are looking for a direct 
                | route into a particular field or career, then a specialist 
                | degree might be right for you.
            .col
              h4.title Comprehensive
                br
                | Degree
              .vline
              p.description 
                | These courses offer a wide range of majors allowing you to 
                | build your studies around your professional and personal needs. 
                | You have the option to choose your major at the start of your 
                | course, or study a range of options before narrowing your focus.

            .col
              h4.title Double
                br
                | Degree
              .vline
              p.description 
                | A Monash Double Degree lets you pursue two areas of interest at 
                | the same time. You can qualify with two degrees in as little as 
                | 4 years, so you can combine all your interests while saving 
                | time and money.
            .clear
        button.cta.btn.btn--white Find a Course


      .section(data-name="newthinking")
        .content
          .halves
            .col
              .linkSlider.linkSlider--left
                ul
                  li.current
                    .coverImg
                    .copy 
                      h5.name Ben Kiernan
                      span.creds Job title, Company
                      p.description Lorem ipsum dolor sit amet, consectetur 
                       | adipiscing elit. Nam nec gravida justo. Sed quis 
                       | porttitor justo, ut dignissim nunc. Morbi vitae augue
                       |  dignissim velit ornare rhoncus vitae sit amet leo.
                       | Maecenas euismod libero ligula, ac fringilla risus.
                       br
                       button.btn.btn--black Play video
                  li.next
                    .coverImg
                    .copy 
                      h5.name
                      span.creds
                      p.description
            .col
              .titleCopy
                h2 New Problems, New Thinking
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                 | Nam nec gravida justo. Sed quis porttitor justo, ut 
                 | dignissim nunc. Nam nec gravida justo. Sed quis porttitor 
                 | justo, ut dignissim nunc.
                 
              .linkSlider.linkSlider--right
                ul
                  li.current
                    .coverImg
                    .copy 
                      h5.name Ben Kiernan
                      span.creds Job title, Company
                      p.description Lorem ipsum dolor sit amet, consectetur 
                       | adipiscing elit. Nam nec gravida justo. Sed quis 
                       | porttitor justo, ut dignissim nunc. Morbi vitae augue
                       |  dignissim velit ornare rhoncus vitae sit amet leo.
                       | Maecenas euismod libero ligula, ac fringilla risus.
                       br
                       button.btn.btn--black Play video
                  li.next
                    .coverImg
                    .copy 
                      h5.name
                      span.creds
                      p.description
              
      .section(data-name="viewthecollection")
        .bg
        .overlay
          .content
            h2 View the Collection
            button.cta.btn.btn--white View Now
      .section(data-name="choosemonash")
        .content
          h2 Choose Monash
          p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            | Nam nec gravida justo. Sed quis porttitor
            br
            |  justo, ut dignissim 
            | nunc. Nam nec gravida justo. Sed quis porttitor justo, ut 
            | dignissim nunc.
          .halves
            .col
              h3 International Experience
              .vline
              p.description To take on the world you need a truly international 
                | outlook. Monash offers students the opportunity to become 
                | genuine global thinkers with campuses in Australia, Malaysia, 
                | China India and Italy. 
                br
                br
                | We also offer one of the most extensive international 
                | exchange and study tour programs with opportunities available 
                | in 30 countries around the globe.


              
            .col
              h3 Courses and Specifications
              .vline
              p.description When it comes to study, we know that one size does 
                | not fit all so we have a wide range of courses for you to 
                | choose from. Whether you have a passion for the arts, are 
                | focused on a career in medicine, or want to pursue a career 
                | in the global business world, there's a course to suit you. 
                | You can choose an education experience that will prepare you 
                | for a successful career.
        
      .section(data-name="stats")
      .section(data-name="facts")
      .section(data-name="makeithappen")
      .section(data-name="contact")
      .section(data-name="footer")
      
    //scripts
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/index.js")
