// main: ../style.scss

html, body {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

* { border: none; box-sizing: border-box; }

//set these up later
.thirds {
  display: block;
  width: 100%;
  .col {
    float: left;
    width: 33.33%;
    display: inline-block;
  }
}

.halves {
  .col {
    float: left;
    width: 50%;
    display: inline-block;
  }
}

.eighteenths {
  display: block;
  width: 100%;
  .col-3 {
    float: left;
    width: 16.65%;
    display: inline-block;
    padding-right: 2%;
  }

  .col-6 {
    float: left;
    width: 33.33%;
    display: inline-block;
    padding-right: 2%;
  }
}

@mixin breakpoint($point) {
  @if $point == sm {
    @media (max-width: 767px) {
      @content;
    }
  }

  // tablet
  @else if $point == md {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  }

  @else if $point == tabLand {
    @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      @content;
    }
  }

  // desktop
  @else if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  }
}

// @mixin aspect-ratio($width, $height) {
//   position: relative;
//   &:before {
//     display: block;
//     content: "";
//     width: 100%;
//     padding-top: ($height / $width) * 100%;
//   }
//   > .nextGenPic {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//   }
// }
