// main: ../style.scss

//images
$logo_white: url(../assets/logo_white.png);
$preheaderbg: url(../assets/BG_mars.png);
$scrollDownArrow: url(../assets/white-arrow-down.png);
$bigM: url(../assets/bigM.png);
$image1: url(../assets/image1.png);
$image2: url(../assets/image2.png);
$collectionbg: url(../assets/preheaderbg.png);
$makeithappenbg: url(../assets/makeithappenbg.png);
$bulb: url(../assets/qualitylogos/CoursesSpecialisation.svg);
$g8: url(../assets/qualitylogos/group_8.png);
$experience: url(../assets/qualitylogos/experience.png);
$trendup: url(../assets/qualitylogos/trendup.png);
$studentscientist: url(../assets/choose_monash/courses-IMG.jpg);
$studentslaughing: url(../assets/choose_monash/Modern-UNi-IMG.jpg);
$partner: url(../assets/qualitylogos/partner.png);
$scope: url(../assets/qualitylogos/scope.png);
$space: url(../assets/space.jpg);
$size: url(../assets/qualitylogos/SizeAndScale.svg);
$star: url(../assets/qualitylogos/Top_100.svg);

$curiosity: url(../assets/nextGen/Curiosity.jpg);
$impact: url(../assets/nextGen/Impact.jpg);
$innovation: url(../assets/nextGen/Innovation.jpg);
$inspiration: url(../assets/nextGen/Inspiration.jpg);
$progress: url(../assets/nextGen/Progress.jpg);
$qta: url(../assets/nextGen/QTA.jpg);

$pressplay: url(../assets/play_button.png);

$bKiernan: url(../assets/newProblems/BenKiernan.jpg);
$kFitzGibbon: url(../assets/newProblems/Kate-Fitzgibbon.jpg);
$kSievert: url(../assets/newProblems/Kate-sievert.jpg);
$mMcintosh: url(../assets/newProblems/michelle-mcintosh.jpg);
$nStone: url(../assets/newProblems/Nick_Stone.jpg);
$nBertram: url(../assets/newProblems/nigelbertram.jpg);
$sLoni: url(../assets/newProblems/samloni.jpg);
$sFenton: url(../assets/newProblems/sophie-fenton.jpg);
$tLe: url(../assets/newProblems/tan-le.jpg);
$robots: url(../assets/robots.jpg);
$xWu: url(../assets/newProblems/XinHua-Wu.png);

$chooseMonash: url(../assets/choose_monash/ChooseMonash.jpg);

//social icons
$ytIcon: url(../assets/social/yt.png);
$ttIcon: url(../assets/social/tt.png);
$instaIcon: url(../assets/social/insta.png);
$fbIcon: url(../assets/social/fb.png);
$instaIcon-Black: url(../assets/social/Instagram-black.svg);

//colors
$black: #0D0D0D;
$white: #FEFFFF;
$lightgray: rgb(238, 238, 238);
$gray: #D8D8D8;
$lightblue: #4896c3;

//effects
$boxShadow: 0px 0px 15px rgba(0,0,0,0.2);

//video/image carousel
$nextGenNumOfSlides: 6;
$newProblemsNumOfSlides: 10;
$carouselHeight: 50rem;
$carouselWidth: 100%;
$carouselControlSize: 5rem;
$slideTransition: .5s;
$percentageMove: 37.5%;
$nextGenCarouselImageHeight: 275px;
$nextGenCarouselImageWidth: 415px;

$newProbCarouselImageHeight: 37rem;
$newProbCarouselImageWidth: 71rem;


// choose monash panels - desktop
$leftpanelpaddingleft: 6rem;
$panelpaddingright: 4rem;
$panelpaddingtop: 4rem;
$panelpaddingbottom: 3rem;
$rightpanelpaddingleft: 4rem;

// choose monash panels - mobile
$mobilepanelpadding: 2rem 2rem 2rem 2rem;
$mobilepanelborderradius: 0rem;
