// main: ../style.scss

//images
$logo_white: url(../assets/logo_white.png);
$preheaderbg: url(../assets/BG_mars.png);
$scrollDownArrow: url(../assets/white-arrow-down.png);
$bigM: url(../assets/bigM.png);
$image1: url(../assets/image1.png);
$image2: url(../assets/image2.png);
$collectionbg: url(../assets/preheaderbg.png);
$makeithappenbg: url(../assets/makeithappenbg.png);
$bulb: url(../assets/qualitylogos/bulb.png);
$g8: url(../assets/qualitylogos/g8.png);
$experience: url(../assets/qualitylogos/experience.png);

//social icons
$ytIcon: url(../assets/social/yt.png);
$ttIcon: url(../assets/social/tt.png);
$instaIcon: url(../assets/social/insta.png);
$fbIcon: url(../assets/social/fb.png);

//colors
$black: #0D0D0D;
$white: #FEFFFF;
$lightgray: rgb(238, 238, 238);
$gray: #D8D8D8;

//effects
$boxShadow: 0px 0px 15px rgba(0,0,0,0.2);

//video/image carousel
$numOfSlides: 4;
$carouselHeight: 50rem;
$carouselWidth: 100%;
$carouselControlSize: 5rem;
$slideTransition: .5s;
$percentageMove: 35%;
$carouselImageHeight: 250px;
$carouselImageWidth: 350px;
