// main: ../style.scss

.index {
  margin: auto;
  width: 100%;
  overflow-x: hidden;

  .clear {
    clear: both;
  }

  .section {
    display: block;
    width: 100%;
    position: relative;


    &[data-name="preheader"] {
      position: relative;
      height: 89rem;
      z-index: 0;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: $preheaderbg;
        background-position: 50% 50%;
      }

      .overlay {
        color: #FFF;
        position: relative;
        text-align: center;
        height: 100%;

        .topLogo {
          width: 20rem;
          height: 6rem;
          margin: auto;
          display: inline-block;
          position: relative;
          margin-top: 6rem;

          .logoImg {
            background-image: $logo_white;
            width: 20rem;
            height: 6rem;

            @include breakpoint(sm) {
              visibility: hidden;
            }
          }
        }

        .centreCopy {
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);
          width: 84rem;
          display: inline-block;
          position: absolute;

          h1 {
            font-size: 3rem;
            @include TitleFont();
          }

          p.lead {
            font-size: 1.7rem;
            line-height: 200%;
            width: 100%;
            display: inline-block;
            margin-top: 5rem;
            font-weight: 300;
          }

          button.cta {
            margin-top: 5rem;
          }

        }

        button.scrollDown {
          background: transparent;
          border: none;
          background-image: $scrollDownArrow;
          background-position: 50% 50%;
          background-size: 100%;
          background-repeat: no-repeat;

          height: 6rem;
          width: 4rem;

          position: absolute;
          left: 50%;
          transform: translatex(-50%);
          top: 74rem;

          @include Transition();



          &:hover {
            cursor: pointer;
            background-position: 50% 70%;
          }

          &:active, &:focus, &:visited {
            outline: none;
          }
        }
      }
    }

    &.mainHeader {
      background: $black;
      color: #FFF;
      height: 7.5rem;
      z-index: 4;

        nav {
          text-align: right;
          height: 7.5rem;
          line-height: 7.5rem;

          ul {
            display: inline-block;
            height: 7.5rem;
            line-height: 7.5rem;
            width: 100%;

            li {
              display: inline-block;
              font-size: 1.4rem;
              text-transform: uppercase;
              height: 7.5rem;
              width: 12rem;
              line-height: 7.5rem;
              vertical-align: top;
              margin: 0rem;
              margin-right: 1rem;
              text-align: center;

              a {
                display: inline;
                border-bottom: 1px solid $black;
                padding-bottom: 0.2rem;
                @include Transition();

                &:hover {
                  border-bottom-color: $white;
                  padding-bottom: 1rem;
                }
              }

              &.logo {
                height: 3rem;
                vertical-align: middle;
                float: left;
                transform: translateY(-50%);
                top: 50%;
                position: relative;
                margin-left: 1rem;

                a {
                  display: inline-block;

                  .logoImg {
                    background-image: $logo_white;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    width: 10rem;
                    height: 3rem;
                    display: block;
                    vertical-align: top;
                  }
                }

              }
            }
          }
        }

        &--fixed {
          position: fixed;
          top: 0rem;
          left: 0rem;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
        }

        &--fixed ~ .headerSpacer {
          height: 7.5rem;
          display: block;
        }

        @include breakpoint(sm) {
          display:none;
        }
    }

    &[data-name="intro"] {
      background: $white;
      color: $black;
      height: 84rem;
      position: relative;
      z-index: 1;

      .lineDown {
        position: absolute;
        width: 2px;
        border-right:1px solid $white;
        background: $black;
        height: 40rem;
        left: 50%;
        margin-left: -50rem;
        bottom: -40rem;
      }

      .image1, .image2 {
        position: absolute;
        border: 1px solid $white;
        box-shadow: $boxShadow;
        background: $white;
        background-size: cover;
      }

      .image1 {
        height: 42rem;
        width: 42rem;
        right: -12rem;
        top: 14rem;
        background-image: $image1;
      }

      .image2 {
        height: 32rem;
        width: 32rem;
        right: 20rem;
        top: 40rem;
        background-image: $image2;
      }

      .bigM {
        background-image: $bigM;
        width: 12rem;
        height: 28rem;
        position: absolute;
        right: 8rem;
        bottom: 0rem;
      }

      .content {
        width: 116rem;
        margin:auto;
        padding-top: 20rem;

        h2 {
          @include TitleFont();
          font-size: 2.8rem;
        }
        .textSpace {
          width: 42rem;
          margin-top: 8rem;
          margin-left: 22rem;

          p {
            font-size: 1.8rem;
            line-height: 150%;
            margin-bottom: 2rem;
          }
        }
      }
    }

    &[data-name="nextgen"] {



      background: $white;
      color: $black;
      height: 90rem;
      position: relative;
      z-index: 0;

      .bg {
        position: absolute;
        width: 100%;
        height: 70%;
        background-color: $black;
      }

      .content {
        width: 116rem;
        margin:auto;
        padding-top: 20rem;
        position: relative;

        h2 {
          @include TitleFont();
          font-size: 2.8rem;
          color: $white;
          text-align: center;
        }

        h2 ~ p {
          margin-top: 2rem;
          color: $white;
          text-align: center;
        }

        > p {
          font-size: 1.7rem;
          color: $white;
        }



        > .videoCarousel {

          .carousel__controls {
            display: none;
          }

          height: $carouselHeight;
          width: $carouselWidth;
          // don't want overflow hidden because we want slides to show
          // the entire length of the page
          // overflow: hidden;
          // you want the carousel relative to its normal position
          position: relative;
          // centers the slides within the videoCarousel div
          // text-align: center;
          margin-top: 5rem;

          // makes radio buttons disappear
          & .carousel__activator-gallery-one {
            display: none;
          }



          @for $i from 1 through $numOfSlides {
            // creates these classes for each image/video by looping

            .carousel__activator-gallery-one:nth-of-type(#{$i}) {

              // when arrow (carousel__controls) are clicked, changes
              // id of carousel__activator and sets 'checked' class
              // and moves the slide
              // percentage is based on the size of the element - not the
              // carousel track, so having the same size image matters
              &:checked ~ .carousel__track {
                  transform: translateX(-(($i - 1) * $percentageMove) + 10%);
              }

              // styles for the slide itself - need to put in transition/animation
              &:checked ~ .carousel__slide:nth-of-type(#{$i}) {
                  top: 0;
                  left: 0;
                  right: 0;
              }

              &:checked ~ .carousel__track .carousel__slide:nth-of-type(#{$i}) {

                h2 {
                  color: black;
                }

                p {
                  visibility: visible;
                  color: black;
                }

                .img-wrapper {
                  visibility: hidden;
                }
              }

              // adds styling to the carousel item to the right
              &:checked ~ .carousel__track .carousel__slide:nth-of-type(#{$i + 1}) {

                h2 {
                  color: black;
                }

                p {
                  visibility: visible;
                  color: black;
                }

                .img-wrapper {
                  visibility: hidden;
                }
              }

              &:checked ~ .carousel__controls:nth-of-type(#{$i}) {
                  display: block;

                  @if $i == 1 {
                    .carousel__control--backward {
                      visibility: hidden;
                    }
                  }
                  @if $i == ($numOfSlides - 1) {
                    .carousel__control--forward {
                      visibility: hidden;
                    }
                  }
              }

            }

              // sets the slides' original place along x-axis
              .carousel__track .carousel__slide:nth-of-type(#{$i}) {
                transform: translateX(($i - 1) *$percentageMove + 10%);
              }

          }

          .carousel__control {
            height: 30px;
            width: 30px;
            margin-top: -15px;
            top: 24%;
            position: absolute;
            display: block;
            cursor: pointer;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: black;
            // opacity: 0.35;
            outline: 0;
            z-index: 3;
          }

          // i don't know if we want this hover capability
          // .carousel__control:hover {
          //   opacity: 1;
          // }

          .carousel__control--backward {
            left: 12%;
            transform: rotate(-135deg);
          }
          .carousel__control--forward {
            right: 7%;
            transform: rotate(45deg);
          }
          .carousel__track {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0;
            margin: 0;
            // smoothes the movement between slides
            transition: transform .5s ease 0s;
          }

          .carousel__track .carousel__slide {
            display: block;
            top: 0;
            left: 0;
            right: 0;
          }

          .carousel__slide {
            height: 100%;
            position: absolute;

            p {
              visibility: hidden;
            }

            & .videoDescription {
              width: $carouselImageWidth;
              padding-top: 2rem;

              h2 {
                text-align: left;
              }

              p {
                text-align: left;
                padding-left: 2rem;
                border-left-color: black;
                border-left-width: thin;
                border-left-style: solid;
              }
            }

          }

          & .image1 {
            content: $image1;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
          }

          & .image2 {
            content: $image2;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
          }

          & .image3 {
            content: $image1;;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
            z-index: -1;
          }


          & .image4 {
            content: $image2;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
          }

          & .img-wrapper {
            background-color: white;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
            display: inline;
            z-index: 2;
            opacity: 0.8;
            position: absolute;
          }
        }



        // i don't think i need all the code below here
        .videoExpose {
          margin-top: 4rem;

          //common
          .vidCover {
            box-shadow: $boxShadow;
            background: $lightgray;
            border: 1px solid #eee;
          }

          .title {
            margin-top: 3rem;
            font-size: 2rem;
            text-transform: uppercase;
          }

          .description {
            margin-top: 2rem;
            font-size: 1.6rem;
            padding-left: 2rem;
            border-left: 3px solid $gray;
          }

          //specific
          .mainVid {
            width: 75rem;
            display: inline-block;
            vertical-align: top;

            ul {
              width: 100%;
              display: block;

              li {
                width: 100%;
                display: block;
                display: none;

                &.current {
                  display: block;
                }

                .vidCover {
                  width: 75rem;
                  height: 60rem;
                }

                .description {

                }
              }
            }
          }

          .sideScroll {
            width: 36rem;
            display: inline-block;
            vertical-align: top;
            float: right;
            position: relative;
            height: 84.4rem;
            overflow: hidden;

            .scrollContainer {
              position: absolute;
              width: 100%;

              ul {
                width: 100%;
                display: block;

                li {
                  width: 100%;
                  display: block;
                  display: block;
                  margin-bottom: 4rem;

                  &.current {
                    display: block;

                    &:first-child {
                      color: $white;
                    }
                  }

                  .vidCover {
                    width: 36rem;
                    height: 24rem;
                    box-shadow: none;
                  }

                  .description {

                  }
                }
              }
            }
          }
        }
      }
    }

    &[data-name="newthinking"] {
      background: $white;
      color: $black;
      height: 90rem;
      position: relative;
      z-index: 0;

      .bg {
        position: absolute;
        width: 100%;
        height: 70%;
      }

      .content {
        width: 116rem;
        margin:auto;
        padding-top: 7rem;
        position: relative;

        h2 {
          @include TitleFont();
          font-size: 2.8rem;
          color: $black;
          text-align: center;
        }

        h2 ~ p {
          margin-top: 2rem;
          color: $black;
          text-align: center;
        }

        > p {
          font-size: 1.7rem;
          color: $black;
        }



        .videoCarousel {

          .carousel__controls {
            display: none;
          }

          height: $carouselHeight;
          width: $carouselWidth;
          // don't want overflow hidden because we want slides to show
          // the entire length of the page
          // overflow: hidden;
          // you want the carousel relative to its normal position
          position: relative;
          // centers the slides within the videoCarousel div
          // text-align: center;
          margin-top: 5rem;

          // makes radio buttons disappear
          & .carousel__activator {
            display: none;
          }



          @for $i from 1 through $numOfSlides {
            // creates these classes for each image/video by looping

            .carousel__activator:nth-of-type(#{$i}) {

              // when arrow (carousel__controls) are clicked, changes
              // id of carousel__activator and sets 'checked' class
              // and moves the slide
              // percentage is based on the size of the element - not the
              // carousel track, so having the same size image matters
              &:checked ~ .carousel__track {
                  transform: translateX(-(($i - 1) * $percentageMove) + 10%);
              }

              // styles for the slide itself - need to put in transition/animation
              &:checked ~ .carousel__slide:nth-of-type(#{$i}) {
                  top: 0;
                  left: 0;
                  right: 0;
              }

              &:checked ~ .carousel__track .carousel__slide:nth-of-type(#{$i}) {

                h2 {
                  color: black;
                }

                p {
                  visibility: visible;
                  color: black;
                }

                .img-wrapper {
                  visibility: hidden;
                }
              }

              // adds styling to the carousel item to the right
              &:checked ~ .carousel__track .carousel__slide:nth-of-type(#{$i + 1}) {

                h2 {
                  color: black;
                }

                p {
                  visibility: visible;
                  color: black;
                }

                .img-wrapper {
                  visibility: hidden;
                }
              }

              &:checked ~ .carousel__controls:nth-of-type(#{$i}) {
                  display: block;

                  @if $i == 1 {
                    .carousel__control--backward {
                      visibility: hidden;
                    }
                  }
                  @if $i == ($numOfSlides - 1) {
                    .carousel__control--forward {
                      visibility: hidden;
                    }
                  }
              }

            }

              // sets the slides' original place along x-axis
              .carousel__track .carousel__slide:nth-of-type(#{$i}) {
                transform: translateX(($i - 1) *$percentageMove + 10%);
              }

          }

          .carousel__control {
            height: 30px;
            width: 30px;
            margin-top: -15px;
            top: 24%;
            position: absolute;
            display: block;
            cursor: pointer;
            border-width: 5px 5px 0 0;
            border-style: solid;
            border-color: black;
            // opacity: 0.35;
            outline: 0;
            z-index: 3;
          }

          // i don't know if we want this hover capability
          // .carousel__control:hover {
          //   opacity: 1;
          // }

          .carousel__control--backward {
            left: 12%;
            transform: rotate(-135deg);
          }
          .carousel__control--forward {
            right: 7%;
            transform: rotate(45deg);
          }
          .carousel__track {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 0;
            margin: 0;
            // smoothes the movement between slides
            transition: transform .5s ease 0s;
          }

          .carousel__track .carousel__slide {
            display: block;
            top: 0;
            left: 0;
            right: 0;
          }

          .carousel__slide {
            height: 100%;
            position: absolute;

            p {
              visibility: hidden;
            }

            & .videoDescription {
              width: $carouselImageWidth;
              padding-top: 2rem;

              h2 {
                text-align: left;
                color: white;
              }

              p {
                text-align: left;
                padding-left: 2rem;
                border-left-color: black;
                border-left-width: thin;
                border-left-style: solid;
              }
            }

          }

          & .image5 {
            content: $image1;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
          }

          & .image6 {
            content: $image2;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
          }

          & .image7 {
            content: $image1;;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
            z-index: -1;
          }


          & .image8 {
            content: $image2;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
          }

          & .img-wrapper {
            background-color: white;
            height: $carouselImageHeight;
            width: $carouselImageWidth;
            display: inline;
            z-index: 2;
            opacity: 0.8;
            position: absolute;
          }
        }
      }
    }

    &[data-name="flexiblelearning"] {
      height: auto;
      background: $black;
      color: $black;
      text-align: center;
      position: relative;

      .bg {
        position: absolute;
        width: 100%;
        height: 61rem;
        top: 45rem;
      }

      .content {
        width: 116rem;
        margin:auto;
        padding-top: 15rem;
        padding-bottom: 15rem;

        h2 {
          @include TitleFont();
          line-height: 150%;
          font-size: 2.8rem;
          color: $white;
        }


        h2 ~ p {
          font-size: 1.7rem;
          margin-top: 3rem;
          margin-bottom: 10rem;
          color: $white;
        }

        .halves {
          text-align: left;
          margin-top: 7rem;
          position: relative;

          .col {

            &.original-image {
              background-image: $image1;
              background-size: cover;
            }

            // use CSS to flip the image
            &.flipped-image {
              background-image: $image1;
              background-size: cover;
              transform: scale(-1,1);

              // use CSS to flip the text back so reader can read it
              & .box {
                transform: scale(-1,1);
              }
            }

            &.padding-left {
              padding-left: 5rem;
            }

            &.padding-right {
              padding-right: 5rem;
            }

            font-size: 1.6rem;
            margin-bottom: 5rem;

            .box {
              // box-shadow: $boxShadow;
              // margin-top: 5rem;
              // background: $white;
              padding: 7rem 5rem;
              color: white;
              text-align: center;
              // setting the height of box divs to even out the text size
              height: 34rem;

              &.border-right {
                border-right-color: white;
                border-right-width: thin;
                border-right-style: solid;
              }

              &.border-bottom {
                border-bottom-color: white;
                border-bottom-width: thin;
                border-bottom-style: solid;
              }

              &:first-child {
                margin-top: 10rem;
              }

              h4.title {
                font-size: 2.3rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                line-height: 120%;
              }

              p.description {
                line-height: 150%;
                display: inline-block;
                vertical-align: top;
                margin-top: 3rem;
                font-size: 1.6rem;
              }
            }
          }
        }
      }

      button.cta {
        // margin-top: 8rem;
        border-color: white;
      }

      .lineDown {
        position: absolute;
        width: 2px;
        border-right:1px solid $white;
        background: $black;
        height: 40rem;
        left: 50%;
        margin-left: 70rem;
        bottom: -140rem;
        z-index: 3;
      }
    }

    &[data-name="viewthecollection"] {
      position: relative;
      height: 64rem;
      z-index: 0;
      margin-top: 40rem;

      .lineDown {
        position: absolute;
        width: 2px;
        border-right:1px solid grey;
        background: grey;
        height: 40rem;
        right: 15%;
        margin-left: -50rem;
        bottom: -47rem;
        z-index: 1;
      }

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: $collectionbg;
        background-position: 50% 50%;
      }

      .overlay {
        color: #FFF;
        position: relative;
        text-align: center;
        height: 100%;


        .content {
          width: 116rem;
          margin:auto;
          padding-top: 27rem;
        }
      }
    }

    &[data-name="choosemonash"] {
      height: auto;
      background: $white;
      color: $black;
      text-align: center;

      .content {
        // width: 116rem;
        margin:auto;
        padding-top: 15rem;
        padding-bottom: 15rem;

        // creating a mini-grid system
        .content-row {
          width: 100%;
          padding-left: 8rem;
          padding-right: 8rem;
          padding-top: 3rem;
          padding-bottom: 3rem;

          &.clearfix:after {
            content: " ";
            display: table;
            clear: both;
          }

          &.grey-background {
            background-color: #f2f2f2;
          }

          .col {
            width: 50%;
            float: left;
            text-align: left;


            h3 {
                font-size: 2.3rem;
                text-transform: uppercase;
                margin-top: 2rem;
            }

            p {
              margin-top: 2rem;
              font-size: 1.5rem;
              padding-right: 2rem;
            }

            .bulb-image {
              content: $experience;
            }

            .g8-image {
              content: $experience;
            }

            .trendup-image {
              content: $trendup;
            }
          }



        }

        h2 {
          @include TitleFont();
          line-height: 200%;
          font-size: 2.2rem;
        }

        > p.description {
          margin-top: 2rem;
        }

        .halves {
          margin-top: 7rem;

          .col {
            text-align: left;
            padding-left: 4rem;
            padding-right: 4rem;

            .image { //container
              width: 100%;
              height: 40rem;

              .img {
                width: 100%;
                height: 36rem;
                box-shadow: $boxShadow;
              }
            }

            .quality {
              padding: 0rem 3rem;
              height: 40rem;

              h3 {
                margin-top: 3rem;
                font-size: 2.5rem;
                text-transform: uppercase;
              }

              p.description {
                line-height: 150%;
                display: inline-block;
                vertical-align: top;
                margin-top: 3rem;
                font-size: 1.6rem;
              }
            }
          }

          //left
          .col:first-child {

          }

          //right
          .col:last-child {

          }
        }
      }
    }

    &[data-name="makeithappen"] {
      position: relative;
      height: 40rem;
      z-index: 0;
      background: $black;

      .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-image: $makeithappenbg;
        background-position: 50% 50%;
        opacity: 0.3;
      }

      .overlay {
        color: #FFF;
        position: relative;
        text-align: center;
        height: 100%;


        .content {
          width: 116rem;
          margin:auto;
          padding-top: 10rem;

          h2 {
            @include TitleFont();
            font-size: 2.2rem;
            margin-bottom: 0rem;
          }

          p {
            max-width: 64rem;
            display: block;
            margin: auto;
            margin-top: 3rem;
          }

          button.cta {
            margin-top: 3rem;
          }
        }

      }
    }
    &[data-name="contact"] {
      height: 13rem;
      background: #e6e6e6;
      color: $black;
      text-align: center;
      border-top: 1px solid $lightgray;
      border-bottom: 1px solid $lightgray;

      .content {
        width: 100%;
        max-width: 120rem;
        margin: auto;

        .halves {
          .col {
            height: 100%;

            &:first-child {
              border-right: 1px solid $lightgray;
            }

            h2 {
              @include TitleFont();
              font-size: 2.2rem;
              margin-bottom: 0rem;
              margin-top: 3rem;
            }

            span {
              display: block;
              margin-top: 2rem;
              font-size: 1.7rem;
              font-weight: 300;
            }
          }
        }
      }
    }

    &[data-name="footer"] {
      height: 7.5rem;
      background: $black;
      color: $white;
      text-align: center;
      line-height: 7.5rem;

      .content {
        .attr {
          float: left;
          margin-left: 3rem;

          span {
            font-size: 1.4rem;
            font-weight: 300;
          }
        }

        .social {
          float: right;
          margin-right: 3rem;

          ul {
            li {
              float: right;
              width: 5rem;
              height: 3rem;
              display: inline-block;
              vertical-align: middle;
              margin-top: 2rem;
              @include Transition(300ms);

              .icon {
                width: 5rem;
                height: 3rem;
                background-repeat: no-repeat !important;
              }

              &:hover {
                opacity: 0.6;
              }

              &.yt {
                a {
                  .icon {
                    background: $ytIcon;
                  }
                }
              }

              &.tt {
                a {
                  .icon {
                    background: $ttIcon;
                  }
                }
              }

              &.fb {
                a {
                  .icon {
                    background: $fbIcon;
                  }
                }
              }

              &.insta {
                a {
                  .icon {
                    background: $instaIcon;
                  }
                }
              }

            }
          }
        }
      }
    }

    &[data-name="mobile-menu"] {

      @include breakpoint(lg) {
        display: none;
      }

      @include breakpoint(sm) {

        $transition-duration: .5s;

        position: fixed;
        z-index: 7;
        border-bottom: 2px solid white;
        // margin: 35px auto 0;
        // width: 300px;
        background-color: black;
        overflow: hidden;

        // dont want to show radio button
        #toggle {
          display: none;
        }

        // have to give CSS to lable to get toggle to work
        // make sure that input ID is same as label for attr
        .toggle-container {
          position: absolute;
          display: inline-block;
          width: 200px;
          height: 250px;
          background-color: transparent;

          // makes the X for when the mobile menu is opened
          &:before, &:after {
            position: absolute;
            content: '';
            top: 50%;
            left: 15%;
            // determines how big the X is
            width: 90%;
            // determines thickness of X
            height: 6px;
            // determines color of X
            background-color: white;
            border-radius: 5px;
            transition: $transition-duration;
          }

          // uses psedo elements to make the X
          &:before {
            transform: translateY(-50%) rotate(45deg) scale(0);
          }

          &:after {
            transform: translateY(-50%) rotate(-45deg) scale(0)
          }
        }

        .mobile-nav-logo {
          background-image: $logo_white;
          width: 20rem;
          height: 6rem;
          display: inline-block;
          float: right;
          margin-top: 10%;
          margin-right: 5%;
        }

        .mobile-nav {
          display: inline-block;
          margin: 25px 25px 20px;
          pointer-events: none;
          // margin-top: 50px;
          // margin-left: 40px;
        }

        // when menu is clicked
        #toggle:checked {

          // shows the X - use of scale(1)
          & ~ .toggle-container {

            &:before {
              transform: translateY(-50%) rotate(45deg) scale(1);
            }

            &:after {
              transform: translateY(-50%) rotate(-45deg) scale(1);
            }
          }

          // moves the words away from the X
          & ~ .mobile-nav {
            // these values may need to change based on menu
            transform: translate(200px, 250px);
            margin-bottom: 300px;
            pointer-events: auto;

            // making titles back into nav items from lines
            & .mobile-nav-item {
                color: white;
                letter-spacing: 3px;
                height: 40px;
                line-height: 40px;
                margin-top: 14px;
                opacity: 1;
                transform: scaleY(1);
                transition: $transition-duration;

              // hiding lines
              &:before {
                opacity: 0;
              }
            }
          }

          // don't show the logo when the menu is opened
          & ~ .mobile-nav-logo {
            visibility: hidden;
          }
        } // end of #toggle:checked



        // show items as lines, making hamburger menu
        // this is it's initial setting
        .mobile-nav-item {
          position: relative;
          display: inline-block;
          float: left;
          clear: both;
          // by setting color to transparent the lines
          // cover the words
          color: transparent;
          // sets the font size of the words
          font-size: 37px;
          // determines how long the lines are
          letter-spacing: 8.8px;
          height: 50px;
          line-height: 50px;
          text-transform: uppercase;
          white-space: nowrap;
          margin-bottom: 20px;
          // shrinks the words height
          transform: scaleY(0.2);
          transition: $transition-duration, opacity 1s;

          // adjusting the line length for hamburger to be even
          // will need to be adjusted based on the words used
          &:nth-child(2) {
            letter-spacing: -6px;
          }

          // adjusting the line line length
          &:nth-child(3) {
            letter-spacing: 0px;
          }

          // uses 'before' pseudo element to make lines
          &:before {
            position: absolute;
            // want the line to be empty content which then
            // is just the background color
            content: ' ';
            // moves the hamburger down to the middle of the
            // words
            top: 50%;
            left: 0;
            // lines take up the entire width of the word
            // in the a tag
            width: 100%;
            // determines how thick the hamberger lines are
            height: 50px;
            // sets the color of the hamburger lines
            background-color: white;
            // with the top property moves lines to middle of words
            transform: translateY(-50%);
            transition: $transition-duration;
          }

        }

        a {
          text-decoration: none;
        }

      } // end of breakpoint md
    } //end of data-name=mobile-menu
  } // end of .section
} // end of .index
